---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        Published: {{ page.date | date: date_format }}
      </time>
      {%- if page.date_edited -%}
      &nbsp; &nbsp;
      <time class="dt-published" datetime="{{ page.date_edited | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        Last edited: {{ page.date_edited | date: date_format }}
      </time>
      {%- endif -%}
      
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- include share.html -%}

  <p><a class="site-title" rel="author" href="/">sidsite</a></p>

  _Disqus comments have been removed, will restore a copy of them (not using Disqus)_

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
